middleware.resources/mw.schemas/src/main/resources/AAL-UAPP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
	<!--
		Author(s):	Michele Girolami michele.girolami@isti.cnr.it
					Francesco Furfari furfari@isti.cnr.it
					Filippo Palumbo palumbo@isti.cnr.it
					Stefano Lenzi stefano.lenzi@isti.cnr.it
		Venelin Arnaudov v.arnaudov@prosyst.com
	-->
<xs:schema attributeFormDefault="unqualified" 
elementFormDefault="qualified" 
jaxb:extensionBindingPrefixes="xjc" jaxb:version="1.0" 
targetNamespace="http://www.universaal.org/aal-uapp/v1.0.0" 
xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
xmlns:krf="http://karaf.apache.org/xmlns/features/v1.0.0" 
xmlns:uapp="http://www.universaal.org/aal-uapp/v1.0.0" 
xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
				<xs:import namespace="http://karaf.apache.org/xmlns/features/v1.0.0" schemaLocation="http://karaf.apache.org/xmlns/features/v1.0.0"/>
				<xs:annotation>
								<xs:appinfo>
												<jaxb:globalBindings generateIsSetMethod="true">
																<xjc:serializable uid="12343"/>
												</jaxb:globalBindings>
								</xs:appinfo>
				</xs:annotation>
				<xs:element name="aal-uapp">
								<xs:annotation>
												<xs:documentation>Root element for AAL Applications</xs:documentation>
								</xs:annotation>
								<xs:complexType>
												<xs:sequence>
																<xs:element name="app">
																				<xs:annotation>
																								<xs:documentation>basic info about the application</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element name="name" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>friendly name e.g. Medication Manager</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="version" type="uapp:versionType">
																																<xs:annotation>
																																				<xs:documentation>version of the application</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="appId" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>unique name. It is used as key by the Space Application Registry e.g. org.universaal.aaalapplication.medmanager</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="description" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>free text description about the application</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="multipart" type="xs:boolean">
																																<xs:annotation>
																																				<xs:documentation>The application consists of multiple parts</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="tags" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>comma separated list of tags, e.g. &quot;medication, medication monitoring, control&quot;</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element name="applicationProvider" type="uapp:contactType">
																																<xs:annotation>
																																				<xs:documentation>contact information to the provider of the application</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element maxOccurs="unbounded" minOccurs="0" name="licenses">
																																<xs:annotation>
																																				<xs:documentation>root license - each artifact may be licensed under different license</xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element maxOccurs="unbounded" minOccurs="0" name="license" type="uapp:licenseType"/>
																																								<xs:element minOccurs="0" name="sla">
																																												<xs:annotation>
																																																<xs:documentation>service level agreement, if any</xs:documentation>
																																												</xs:annotation>
																																												<xs:complexType>
																																																<xs:sequence>
																																																				<xs:element name="name" type="xs:string"/>
																																																				<xs:element name="link" type="xs:anyURI"/>
																																																</xs:sequence>
																																												</xs:complexType>
																																								</xs:element>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																												<xs:element name="applicationProfile" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>URI of the AALAppSubProfile??? Is it not fixed to org.universAAL.ontology.profile.AALAppSubProfile?</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
<!--end of app element-->
																<xs:element minOccurs="0" name="applicationCapabilities">
																				<xs:annotation>
																								<xs:documentation>Describes what the applicion offers</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element maxOccurs="unbounded" name="capability" type="uapp:capabilityType"/>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
																<xs:element minOccurs="0" name="applicationRequirements">
																				<xs:annotation>
																								<xs:documentation>Describes the requirements to be fulfilled in order to operate this application</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element name="requirement" maxOccurs="unbounded"  type="uapp:reqType"/>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
																<xs:element name="applicationManagement" minOccurs="0">
																				<xs:annotation>
																								<xs:documentation>Management capabilities.</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element name="contactPoint" type="xs:string">
																																<xs:annotation>
																																				<xs:documentation>person or center in charge of providing
 assistance for the management</xs:documentation>
																																</xs:annotation>
																												</xs:element>
																												<xs:element minOccurs="0" name="remoteManagement">
																																<xs:annotation>
																																				<xs:documentation>software and protocols used for the remote
 access and management of the application</xs:documentation>
																																</xs:annotation>
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element maxOccurs="unbounded" name="protocols" type="xs:string"/>
																																								<xs:element name="software" type="uapp:artifactType"/>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
<!-- end of applicationManagement -->
																<xs:element name="applicationPart">
																				<xs:annotation>
																								<xs:documentation>The list of software artifacts composing the
 application</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element maxOccurs="unbounded" ref="uapp:part"/>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
<!-- end of applicationPart -->
												</xs:sequence>
								</xs:complexType>
				</xs:element>
<!-- end of main body -->
<!-- types definition -->
				<xs:element name="part">
								<xs:complexType>
												<xs:sequence>
																<xs:element name="bundleId" type="xs:string"/>
																<xs:element name="bundleVersion" type="xs:string"/>
																<xs:element minOccurs="0" name="partCapabilities">
																				<xs:annotation>
																								<xs:documentation>Describes what this appPart offers</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element maxOccurs="unbounded" name="capability" type="uapp:capabilityType"/>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
																<xs:element minOccurs="0" name="partRequirements">
																				<xs:annotation>
																								<xs:documentation>Describes the requirements specific to this appPart</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																								<xs:sequence>
																												<xs:element name="requirement"  maxOccurs="unbounded" type="uapp:reqType"/>
																								</xs:sequence>
																				</xs:complexType>
																</xs:element>
																<xs:element maxOccurs="unbounded" ref="uapp:deploymentUnit"/>
																<xs:element maxOccurs="unbounded" minOccurs="0" ref="uapp:executionUnit"/>
												</xs:sequence>
												<xs:attribute name="partId" type="xs:ID"/>								</xs:complexType>
				</xs:element>
				<xs:element name="deploymentUnit">
								<xs:complexType>
												<xs:choice>
																<xs:element name="osUnit" type="uapp:osType">
																				<xs:annotation>
																								<xs:documentation>Not used for the moment. Intended to describe application that are installed on OS level rpm, exe, msi...</xs:documentation>
																				</xs:annotation>
																</xs:element>
																<xs:element name="platformUnit" type="uapp:platformType">
																				<xs:annotation>	
																							<xs:documentation>Not used for the moment. Intended to describe units that are OS independent like POJO java apps</xs:documentation>
																				</xs:annotation>
																</xs:element>
																<xs:element name="containerUnit">
																				<xs:complexType>
																								<xs:choice>
																												<xs:element name="karaf">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="embedding" type="uapp:embeddingType"/>
																																								<xs:element ref="krf:features"/>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																												<xs:element name="android">
																																<xs:complexType>
																																				<xs:sequence>
																																								<xs:element name="name" type="xs:string"/>
																																								<xs:element minOccurs="0" name="description" type="xs:string"/>
																																								<xs:element maxOccurs="unbounded" name="location" type="xs:anyURI"/>
																																				</xs:sequence>
																																</xs:complexType>
																												</xs:element>
																												<xs:element name="tomcat"/>
																												<xs:element name="equinox"/>
																												<xs:element name="felix"/>
																												<xs:element name="osgi-android"/>
																								</xs:choice>
																				</xs:complexType>
																</xs:element>
												</xs:choice>
												<xs:attribute name="id" type="xs:ID"/>
								</xs:complexType>
				</xs:element>
				<xs:element name="executionUnit">
								<xs:complexType>
												<xs:sequence>
																<xs:element name="deploymentUnit" type="xs:IDREF"/>
																<xs:element name="configFiles"/>
																<xs:element name="spaceStartLevel" minOccurs="0"/>
												</xs:sequence>
								</xs:complexType>
				</xs:element>
				<xs:element name="broker">
								<xs:complexType>
												<xs:sequence>
																<xs:element name="name" type="xs:string"/>
																<xs:element name="software" type="uapp:artifactType"/>
												</xs:sequence>
								</xs:complexType>
				</xs:element>
				<xs:complexType name="artifactType">
								<xs:sequence>
												<xs:element name="artifactId" type="xs:string"/>
												<xs:element name="version" type="uapp:versionType"/>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="profileType">
								<xs:sequence>
												<xs:element name="profileId" type="uapp:spaceType"/>
												<xs:element name="version" type="uapp:versionType"/>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="versionType">
								<xs:sequence>
												<xs:element default="0" name="major" type="xs:int"/>
												<xs:element default="0" name="minor" type="xs:int"/>
												<xs:element default="0" name="micro" type="xs:int"/>
												<xs:element minOccurs="0" name="build" type="xs:string">
																<xs:annotation>
																				<xs:documentation>e.g. major.minor.micro-build</xs:documentation>
																</xs:annotation>
												</xs:element>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="ontologyType">
								<xs:sequence>
												<xs:element name="name" type="xs:string"/>
												<xs:element name="uri" type="xs:anyURI"/>
												<xs:element name="location">
																<xs:complexType>
																				<xs:choice maxOccurs="3" minOccurs="0">
																								<xs:element name="path" type="xs:string">
																												<xs:annotation>
																																<xs:documentation>resource path related to the manifest</xs:documentation>
																												</xs:annotation>
																								</xs:element>
																								<xs:element name="runtimeId" type="xs:string">
																												<xs:annotation>
																																<xs:documentation>id of the the runtime instance loading the
 ontology</xs:documentation>
																												</xs:annotation>
																								</xs:element>
																								<xs:element name="url">
																												<xs:annotation>
																																<xs:documentation>web url to download the ontology</xs:documentation>
																												</xs:annotation>
																								</xs:element>
																				</xs:choice>
																</xs:complexType>
												</xs:element>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="contactType">
								<xs:sequence>
												<xs:element minOccurs="0" name="organizationName" type="xs:string">
																<xs:annotation>
																				<xs:documentation>Organization name, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="certificate" type="xs:anyURI"/>
												<xs:element minOccurs="0" name="contactPerson" type="xs:string">
																<xs:annotation>
																				<xs:documentation>Name of the contact person, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="streetAddress" type="xs:string">
																<xs:annotation>
																				<xs:documentation>Street address for contacts, free text, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element name="email" type="xs:string">
																<xs:annotation>
																				<xs:documentation>email for contacts, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="webAddress" type="xs:anyURI">
																<xs:annotation>
																				<xs:documentation>Web site of the provider, free text, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="phone" type="xs:string">
																<xs:annotation>
																				<xs:documentation>Phone number for contacts, free text, optional</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element minOccurs="0" name="otherChannel">
																<xs:annotation>
																				<xs:documentation>Other optional communication channels, fax, IM...</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																				<xs:sequence>
																								<xs:element name="channelName" type="xs:string">
																												<xs:annotation>
																																<xs:documentation>The name/type of the channel, e.g. Fax, Skype...</xs:documentation>
																												</xs:annotation>
																								</xs:element>
																								<xs:element name="channelDetails" type="xs:string">
																												<xs:annotation>
																																<xs:documentation>the identifier for this channel, e.g. Skype profile name, Fax number...</xs:documentation>
																												</xs:annotation>
																								</xs:element>
																				</xs:sequence>
																</xs:complexType>
												</xs:element>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="licenseType">
								<xs:annotation>
												<xs:documentation>describe the single license</xs:documentation>
								</xs:annotation>
								<xs:sequence>
												<xs:element name="category" type="uapp:licenseCategoryType"/>
												<xs:element name="name" type="xs:string"/>
												<xs:element name="link" type="xs:anyURI"/>
								</xs:sequence>
				</xs:complexType>
				<xs:simpleType name="licenseCategoryType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="ApplicationLicense"/>
												<xs:enumeration value="ExternalLicense"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:complexType name="capabilityType">
								<xs:annotation>
												<xs:documentation>describes single offering, mostly used for devices and platforms</xs:documentation>
								</xs:annotation>
								<xs:sequence>
												<xs:element name="name" type="xs:string">
																<xs:annotation>
																				<xs:documentation>header as reverse-DNS string e.g. &quot;aal.tracking.reactiontime&quot;</xs:documentation>
																</xs:annotation>
												</xs:element>
												<xs:element name="value" type="xs:string">
																<xs:annotation>
																				<xs:documentation>the actual value, e.g. &quot;1800s&quot;</xs:documentation>
																</xs:annotation>
												</xs:element>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="reqType">
								<xs:annotation>
												<xs:documentation>describes single offering, mostly used for devices and platforms</xs:documentation>
								</xs:annotation>
								<xs:sequence>
												<xs:choice>
																<xs:element name="reqAtom" type="uapp:reqAtomType"/>
																<xs:element name="reqGroup" type="uapp:reqGroupType"/>
												</xs:choice>
												<xs:element minOccurs="0" name="optional" type="xs:boolean"/>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="reqAtomType">
								<xs:annotation>
												<xs:documentation>describes a simple requirement</xs:documentation>
								</xs:annotation>
								<xs:sequence>
												<xs:element name="reqAtomName" type="xs:string"/>
												<xs:element maxOccurs="unbounded" name="reqAtomValue" type="xs:string"/>
												<xs:element default="equal" minOccurs="0" name="reqCriteria" type="uapp:logicalCriteriaType">
																<xs:annotation>
																				<xs:documentation>should be considered as &quot;equal&quot;, when the element is omitted</xs:documentation>
																</xs:annotation>
												</xs:element>
								</xs:sequence>
				</xs:complexType>
				<xs:complexType name="reqGroupType">
								<xs:annotation>
												<xs:documentation>describes multiple requirements with a given logical relation</xs:documentation>
								</xs:annotation>
								<xs:sequence>
												<xs:element name="logicalRelation" type="uapp:logicalRelationType"/>
												<xs:element maxOccurs="2" minOccurs="2" name="requirement" type="uapp:reqType"/>
								</xs:sequence>
				</xs:complexType>
				
				<xs:simpleType name="logicalRelationType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="or"/>
												<xs:enumeration value="and"/>
												<xs:enumeration value="none"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="logicalCriteriaType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="not"/>
												<xs:enumeration value="equal"/>
												<xs:enumeration value="greater"/>
												<xs:enumeration value="greater-equal"/>
												<xs:enumeration value="less"/>
												<xs:enumeration value="less-equal"/>
												<xs:enumeration value="contain"/>
												<xs:enumeration value="doesn-not-contain"/>
												<xs:enumeration value="begin"/>
												<xs:enumeration value="end"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="reqCriticalityType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="or"/>
												<xs:enumeration value="and"/>
												<xs:enumeration value="none"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:complexType name="toBeDefined">
								<xs:annotation>
												<xs:documentation> temporary type</xs:documentation>
								</xs:annotation>
								<xs:complexContent>
												<xs:extension base="xs:anyType"/>
								</xs:complexContent>
				</xs:complexType>
				<xs:simpleType name="spaceType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="HomeSpace"/>
												<xs:enumeration value="HospitalSpace"/>
												<xs:enumeration value="MarketSpace"/>
												<xs:enumeration value="CarSpace"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="embeddingType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="singleContainer"/>
												<xs:enumeration value="anyContainer"/>
												<xs:enumeration value="namedContainer"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="osType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="Linux"/>
												<xs:enumeration value="Windows"/>
												<xs:enumeration value="MacOS"/>
								</xs:restriction>
				</xs:simpleType>
				<xs:simpleType name="platformType">
								<xs:restriction base="xs:string">
												<xs:enumeration value="Java"/>
												<xs:enumeration value=".NET"/>
												<xs:enumeration value="Android"/>
												<xs:enumeration value="OSGi"/>
												<xs:enumeration value="OSGi-Android"/>
								</xs:restriction>
				</xs:simpleType>
</xs:schema>
